.btn-dontknow {
  position: absolute;
width: 160px;
height: 55px;
left: 202px;
top: 484px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #A9A0A0;
}
.btn-dontknow-text {
  position: absolute;
width: 109px;
height: 35px;
left: 6px;
top: 7px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #000000;position: absolute;
width: 109px;
height: 35px;
left: 6px;
top: 7px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}