.word-show{
  position: absolute;
width: 110px;
height: 55px;
left: 227px;
top: 329px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;

color: #A9A0A0;
}