.word-img{
  position: absolute;
  width: 400px;
  height: 281px;
  left: calc(50% - 400px/2);
  top: calc(50% - 281px/2 - 121.5px);

  background: url(accomodation.jpg);
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}